.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.server-error{
  color: white;
  font-size: 0.8rem;
  text-align: center;
  margin-top: 10px;
  background: #d44f4f;
  max-width: 400px;
  margin: auto;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
}
